@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document
  url-prefix("http://github.com"),
  url-prefix("https://github.com"),
  domain("develop.github.com"),
  domain("gist.github.com"),
  domain("github.github.com"),
  domain("help.github.com"),
  domain("status.github.com"),
  domain("support.github.com"),
  domain("wiki.github.com")
{

  body {
    background: #262626 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAENCAYAAADOoA9GAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAABZSURBVHjaYmBgYPjPACP+MYFIEPEflfUflwQRSojgUiyGX4IkJTTRi5P4R39T/tFByT8qa6OJof8GPJgGPjHQI/FTki+pWFCQXlQhsZiBmBFMwLlgwAgQYAAYPe0bQ81rlgAAAABJRU5ErkJggg==") top left repeat-x !important;
    color: #bbb !important;
  }

  * {
    border-color: #555555 !important;
    text-shadow: none !important;
  }

  p {
    color: #aaa !important;
  }

  input, textarea, select {
    background: #aaaaaa !important;
    color: #222222 !important;
  }

  #activate_pledgie_button {
    display: none !important;
  }

  #main, #footer, .upper_footer, .lower_footer, .locales, .locales .fade, .homehead .hero h1, .hero .textographic {
    background: none !important;
  }

  #header {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
  }

  #header a {
    color: #bbb !important;
  }

  #header a:hover {
    color: #4183c4 !important;
  }

  .topsearch {
    border: none !important;
    box-shadow: none !important;
  }

  #user-links {
    background: #333 !important;
    border: 1px solid #555 !important;
    box-shadow: none !important;
  }

  #wrapper,
  #header-wrapper,
  .pagehead,
  .pagehead.repohead ul.actions,
  .pagehead.repohead ul.pagehead-actions,
  .pagehead.repohead.vis-private ul.pagehead-actions,
  .vis-private .site, .mine .site {
    background: none !important;
  }
  #footer .sponsor a,
  .feature-overview strong,
  .definitions h2,
  #footer ul.sosueme li.main {
    color: #555 !important;
  }

  ul.pagehead-actions a.feed {
    background-color: #333 !important;
  }

  p.breadcrumb {
    background: #333 !important;
  }
  p.breadcrumb a {
    color: #ccc !important;
  }

  .pagehead h1 {
    color: #cccccc !important;
  }
  .pagehead > ul.tabs li a .counter,
  .subnav-bar ul.subnav .counter {
    background-color: #222 !important;
  }
  .subnav-bar ul.subnav li a {
    color: #999 !important;
  }

  .user-mention {
    color: #4183C4 !important;
  }

  .userbox,
  ul.nav.logged_out {
    border-color: #333 !important;
  }
  .userbox .avatarname img,
  .pagehead h1.avatared img {
    border-color: #777777 !important;
  }
  .userbox, .userbox .inner, ul.nav.logged_out {
    background: none !important;
  }
  #header .userbox .avatarname a {
    color: #aaaaaa !important;
  }
  #header a.unread_count {
    background-color: #333333 !important;
  }
  #header a.unread_count.new_messages.notifications_count {
    background-color: #aece91 !important;
    color: #222222 !important;
  }

  .tip,
  .infotip,
  .notification {
    background-color: #fff6a9 !important;
    color: #222 !important;
  }
  .tip p,
  .message p,
  .infotip p,
  .octotip p {
    color: #222 !important;
  }
  #inbox .message p {
    color: #aaa !important;
  }

  #header ul.nav li a,
  .pagehead ul.tabs li a,
  .subnav-bar > ul > li > a.dropdown {
    color: #aaaaaa !important;
  }

  .pagehead ul.tabs li.contextswitch {
    background: none !important;
  }
  .pagehead ul.tabs li.contextswitch ul li.current,
  .pagehead ul.tabs li.contextswitch ul {
    background-color: #444444 !important;
  }

  .ac_odd, .ac_even {
    color: #222 !important;
  }

  ul.smalltabs,
  ul.smalltabs .counter {
    background: #333 !important;
  }
  ul.smalltabs a.selected .counter {
    border-color: #333 !important;
    background: #555 !important;
  }

  .subnav-bar > ul > li:hover > a.dropdown,
  .subnav-bar > ul > li > ul,
  .subnav-bar > ul > li > ul > li > a,
  ul.bigtabs li a,
  ul.smalltabs li a {
    background: #333333 !important;
  }
  .subnav-bar > ul > li:hover > a.dropdown {
    color: #cccccc !important;
  }

  .pagehead ul.tabs li a:hover,
  .subnav-bar > ul > li:hover > ul,
  .subnav-bar > ul > li > ul > li > a:hover,
  .subnav-bar > ul > li:hover > a,
  ul.bigtabs li a:hover {
    background: #999999 !important;
    color: #222222 !important;
  }

  .standard_form {
    background-color: #262626 !important;
  }
  .popup .standard_form h1 {
    background-color: #333333 !important;
  }

  .pagehead ul.tabs li a.selected,
  .subnav-bar > ul > li > a.selected,
  ul.bigtabs li a.selected,
  ul.smalltabs li a.selected {
    background: #555555 !important;
    border-color: #777777 !important;
    color: #000000 !important;
  }

  .subnav-bar,
  .pagehead ul.tabs,
  .pagehead ul.tabs li.contextswitch.nochoices {
    background: none !important;
  }

  .pagination a:hover {
    color: #4183c4 !important;
  }

  .avatar .overlay {
    background: none !important;
  }
  .avatar-bubble .bubble {
    background-color: transparent !important;
  }

  ul.repo-stats {
    background: none !important;
    background-color: #333333 !important;
  }
  ul.repo-stats li:first-child {
    height: 21px !important;
    line-height: 21px !important;
    padding: 0 5px !important;
  }
  ul.repo-stats li,
  ul.repo-stats li a {
    background-color: #333333 !important;
  }

  #facebox .close {
    background-color: transparent !important;
  }
  #facebox .body, #facebox .content {
    background: #222222 !important;
    color: #777777 !important;
  }
  .newface .commit-preview .message pre,
  #facebox pre {
    background: #222222 !important;
    color: #777777 !important;
  }
  #facebox .commit-preview,
  .newface .commit-preview {
    background-color: #333333 !important;
  }
  #facebox .commit-preview p.name .avatar {
    background-color: transparent !important;
  }

  .commentstyle .comment .meta .gravatar,
  #compare .commits span.gravatar,
  .new-comments .comment .cmeta .gravatar {
    background-color: transparent !important;
  }
  #compare .commits td.author a,
  #compare .commits td.message a {
    color: #777777 !important;
  }
  #compare .commits tr:nth-child(2n) td {
    background: #222222 !important;
  }
  #compare .commits tr.merge td {
    background: #212121 !important;
  }
  .composer .starting-comment,
  .composer .starting-comment > .body {
    background: none !important;
  }
  .new-comments .starting-comment,
  .new-comments .inset,
  .line-comments {
    background-color: transparent !important;
  }
  .new-comments .comment .cmeta,
  .new-comments .commit-comment .cmeta,
  .new-comments .file-commit-comment .cmeta {
    background: #555555 !important;
  }
  .new-comments .comment .cmeta p.author em a,
  .new-comments .comment .cmeta p.info em.date a {
    color: #222222 !important;
  }
  .new-comments .comment .body {
    background-color: transparent !important;
    color: #777777 !important;
  }
  .comment-form {
    background: transparent !important;
    border: 1px solid #555555 !important;
  }
  .comment-form ul.tabs a.selected {
    background: #777777 !important;
    border: 1px solid #555555 !important;
  }
  .starting-comment .comment-form {
    border: none !important;
  }
  /*ul.clone-urls li {
    background: #333333 !important;
  }
  ul.clone-urls li.selected {
  }
  ul.clone-urls li.selected > a {
    background: #777777 !important;
    color: #222222 !important;
  }
  ul.clone-urls li > a {
    background: none !important;
    color: #777777 !important;
  }*/

  table.branches tr:hover td {
    background: #333333 !important;
  }

  .minibutton,
  #download_button,
  .compare-range .commit {
    -moz-border-radius: 3px 3px 3px 3px !important;
    -moz-box-shadow: none !important;
    background: #333 !important;
    border: 1px solid #555 !important;
    color: #777 !important;
  }
  /*.minibutton > span {
    background: none !important;
  }*/
  .minibutton:hover,
  #download_button:hover,
  ul.repo-stats li.watchers a:hover,
  ul.repo-stats li.forks a:hover,
  .compare-range a.commit:hover {
    background-color: #6699cc !important;
    color: #222222 !important;
  }
  .bigbuttons .bigbutton a {
    background: #333333 !important;
    border-color: #777777 !important;
  }
  ul.repo-stats li.watchers.watching a,
  ul.repo-stats li.forks.forked a {
    color: #aaaaaa !important;
  }
  ul.clone-urls li {
    background: #333333 !important;
    border: 1px solid #555555 !important;
  }
  ul.clone-urls li.selected {
    background: #777777 !important;
  }
  ul.clone-urls li.selected > a {
    background: #777777 !important;
    border: none !important;
    color: #222222 !important;
  }
  ul.clone-urls li > a {
    background: none !important;
    border: none !important;
    color: #777777 !important;
  }
  input.url-field {
    background-color: transparent !important;
    height: 18px !important;
    color: #aaaaaa !important;
  }

  .email-quoted-reply, .email-signature-reply{
    color: #777 !important;
  }

  #inbox .write form {
    background: none !important;
  }
  #inbox .list .unread,
  #message .envelope .header .info .title.unread {
    background-color: #323232 !important;
  }
  #inbox .list .item .details .message a.body {
    color: #aaaaaa !important;
  }
  #inbox .list .item .title span {
    background-color: transparent !important;
    color: #fff6a9 !important;
  }
  #inbox .list .item .gravatar,
  #message .envelope .header .gravatar {
    background-color: transparent !important;
  }

  #repos .public,
  #repos .private {
    background-color: transparent !important;
  }

  .subnav-bar .search .minibutton {
    top: 0 !important;
  }
  .subnav-bar > ul.actions > li {
    border: none !important;
  }

  #path #clippy {
    display: none !important;
  }

  .metabox {
    background: transparent !important;
    color: #aaaaaa !important;
    border: 1px solid #555555 !important;
  }
  .metabox .editable-text:hover {
    color: #222222 !important;
  }
  .url-box p strong {
    color: #aaaaaa !important;
  }
  .standard_form form .label label {
    color: #aaaaaa !important;
  }

  .profilecols ul.stats li strong {
    color: #aaaaaa !important;
  }
  .repo-filter input {
    color: #000 !important;
  }

  #downloads .upload,
  ol.download-list li:nth-child(2n) {
    background: transparent !important;
  }

  #uploaded_downloads ol li h4,
  ol.download-list li h4 {
    color: #aaaaaa !important;
  }
  #uploaded_downloads .download-stats strong {
    color: #666 !important;
  }

  .news blockquote p {
    color: #444 !important;
  }
  .news .alert .title span {
    background-color: transparent !important;
    color: #FFF6A9 !important;
  }
  #network .repo img.gravatar,
  .actor .gravatar,
  #code_search_results .result .gravatar,
  .news .alert .gravatar,
  .news .commits li img,
  .news .push .commits li img,
  #files .file .meta .gravatar,
  #directory .repo .gravatar img,
  .members li .gravatar {
    background-color: transparent !important;
  }
  #author_text,
  #selected_author_text {
    color: #aaaaaa !important;
  }
  #network .explain b {
    color: #aaaaaa !important;
    font-weight: bold !important;
  }

  #code_search_results .header,
  #code_search_results .result .snippet {
    background-color: #333333 !important;
    color: #aaaaaa !important;
  }
  #code_search_results .result .snippet em {
    color: #222222 !important;
  }

  #missing-readme {
    background-color: transparent !important;
    border-color: #777777 !important;
  }
  #readme,
  #readme .name,
  #readme .markdown-body {
    background: none !important;
  }
  #readme .name {
    color: #bbb !important;
  }
  #readme div.plain pre {
    color: #aaaaaa !important;
  }
  #readme div.plain, #readme div.wikistyle {
    background-color: transparent !important;
  }
  #readme.announce div.plain, #readme.announce div.wikistyle {
    border: 1px solid #555555 !important;
  }
  .wikistyle {
    color: #bbb !important;
  }
  .wikistyle h2 {
    border-top: 4px solid #555555 !important;
    color: #bbb !important;
  }
  .markdown-body pre,
  .markdown-body pre code,
  .markdown-body code,
  .wikistyle pre,
  .wikistyle pre code,
  .wikistyle code,
  #posts .entry-content code,
  #posts .entry-content pre,
  .original-post pre,
  .original-post pre code,
  .gist .gist-file,
  .gist .gist-file .gist-data {
    background-color: #444444 !important;
    color: #aaaaaa !important;
  }
  #wiki-wrapper #template code,
  #wiki-wrapper #template tt,
  #wiki-wrapper #template .highlight pre,
  #wiki-wrapper #template pre {
    background-color: transparent !important;
  }
  .gist .gist-file .gist-meta {
    background-color: #333333 !important;
    color: #aaaaaa !important;
  }

  #wiki-wrapper #gollum-editor,
  #wiki-wrapper #gollum-editor-help-list,
  #wiki-wrapper #gollum-editor-help-wrapper {
    background: none !important;
  }
  #wiki-wrapper #gollum-editor-help-parent li a.selected,
  #wiki-wrapper #gollum-editor-help-list li a.selected {
    background-color: #333 !important;
    color: #aaa !important;
  }
  #wiki-wrapper #gollum-editor-help-parent li a:hover,
  #wiki-wrapper #gollum-editor-help-list li a:hover {
    background-color: #333 !important;
  }
  #wiki-wrapper.edit h1 strong {
    color: #777 !important;
  }

  #commit .group {
    border: none !important;
  }
  #commit .envelope {
    background: transparent !important;
    color: #aaaaaa !important;
    border: 1px solid #555555 !important;
  }
  #commit .human .message a,
  #commit .human .actor .name a {
    color: #aaaaaa !important;
  }
  .actor {
    background-color: #333 !important;
  }

  #browser table {
    border: 1px solid #555555 !important;
  }
  #browser th {
    background-color: transparent !important;
  }
  #browser td {
    background: none !important;
    color: #777777 !important;
  }
  #browser td a.message {
    color: #aaaaaa !important;
  }

  ol#comments li .body {
    color: #aaaaaa !important;
  }

  ol#comments li .meta {
    background-color: #555555 !important;
    color: #222222 !important;
  }

  .original-post .avatar,
  ol#comments li .avatar {
    background-color: transparent !important;
  }

  .blame .line-data {
    background-color: #333333 !important;
  }
  .blame .line-number {
    background-color: #666666 !important;
  }

  #files .file,
  #files .file .meta,
  #files .file .data .line_numbers,
  #files .file .data,
  .gc {
    background: transparent !important;
    color: #777777 !important;
  }
  #files .file .meta .info span.icon {
    background: transparent !important;
  }
  #files.commentable tr:hover td {
    background-color: #333 !important;
  }
  #files .add-bubble,
  #files.commentable tr.inline-comments:hover td {
    background-color: transparent !important;
  }
  .gd {
    background-color: #ca7d7d !important;
  }
  .gi {
    background-color: #76b576 !important;
  }
  .nn {
    color: #777777 !important;
  }
  .nf, .sr, .mi, .mf, .na {
    color: #8eb157 !important;
  }
  .nt, .no {
    color: #6699cc !important;
  }
  .nc, .kt {
    color: #5e76bc !important;
  }
  .s, .ss, .s1, .s2 {
    color: #9e6c8d !important;
  }
  .highlight {
    background: none !important;
  }

  .commentstyle {
    background-color: transparent !important;
  }

  #dashboard .repos {
    background: none !important;
    border: 1px solid #555555 !important;
  }
  .profilecols .filter-bar,
  #dashboard .filter-bar,
  #dashboard .repos .top-bar,
  #dashboard .repos .bottom-bar {
    background: none !important;
  }

  #dashboard ul.repo_list .public,
  .userrepos ul.repo_list li {
    background-color: transparent !important;
  }
  .profilecols .filter-bar li a.filter_selected,
  #dashboard .filter-bar li a.filter_selected {
    color: #ccc !important;
  }
  .profilecols .filter-bar .filter_input {
    width: 400px !important;
  }
  #dashboard .repos h2 {
    color: #ccc !important;
  }
  #dashboard ul.repo_list .private {
    background-color: #333 !important;
  }
  .participation-graph {
    background: none !important;
  }
  #dashboard .message,
  #dashboard .message p,
  #dashboard .message blockquote {
    color: #666 !important;
  }

  .filterbox {
    background: none !important;
    border: none !important;
  }

  ul.bignav li a:hover,
  ul.bignav li a:hover .count,
  ul.smallnav li a:hover,
  ul.smallnav li a:hover .count{
    background: #ccc !important;
    color: #222 !important;
  }

  .bubble,
  .tree-browser th {
    background: none !important;
  }
  .tree-browser td {
    background: none !important;
    color: #bbb !important;
  }
  .tree-browser tr.current td {
    background-color: #333 !important;
  }
  .tree-browser td a.message {
    color: #777 !important;
  }

  .browser-content,
  .browser .none, .browser .error,
  .browser-content .filterbar {
    background: none !important;
  }
  .browser .listing,
  .browser .listing.closed {
    background: none !important;
  }
  .browser .listing.active {
    background-color: #2b2b2b !important;
  }
  .browser .unread h3 a {
    color: #777 !important;
  }
  .browser .listing .meta {
    background-color: #444 !important;
  }
  .browser .listing .meta .gravatar {
    background-color: transparent !important;
  }
  .filterbar ul.filters li {
    background: none !important;
    border: none !important;
  }
  .filterbar ul.filters li.selected {
    background: #555555 !important;
    border: 1px solid #777777 !important;
    color: #000000 !important;
  }

  .pull-description img,
  .commits-condensed span.gravatar,
  .new-comments .comment .cmeta .gravatar,
  ul.userlist li .gravatar {
    background-color: transparent !important;
  }
  .starting-comment .meta .state {
    background-color: #333 !important;
  }
  .comments-wrapper,
  .commits-condensed tr:nth-child(2n) td {
    background-color: transparent !important;
  }
  .commits-condensed td.author a,
  .commits-condensed td.message a {
    color: #777 !important;
  }

  .pull-description a {
    color: #4183c4 !important;
  }
  .pull-dest-repo a {
    background-color: transparent !important;
  }

  .merge-pr .bubble {
    background-color: #555 !important;
  }
  .merge-pr .mergeable.clean p.message,
  .merge-pr .mergeable.merging p.message {
    color: #333 !important;
  }

  .pagehead ul.actions a.feed {
    background-color: transparent !important;
  }

  .addon:hover {
    background: #333333 !important;
  }

  ul.repositories > li,
  ul.repositories > li .body,
  ul.repositories > li .body .graph,
  ul.repositories .meta {
    background: none !important;
    color: #777777 !important;
  }
  ul.repositories p.description {
    color: #777777 !important;
  }
  ul.repositories ul.repo-stats {
    background-color: transparent !important;
  }
  ul.repositories ul.repo-stats li a.pill {
    background: none !important;
    color: #333333 !important;
  }
  ul.repositories ul.repo-stats li a.pill:hover {
    background-color: #6699cc !important;
    color: #cccccc !important;
  }
  ul.repositories ul.repo-stats li a.pill-watchers {
    background: url("http://github.com/images/modules/pagehead/repostat_watchers.png") no-repeat scroll 1px -4px #777777 !important;
  }
  ul.repositories ul.repo-stats li a.pill-forks {
    background: url("http://github.com/images/modules/pagehead/repostat_forks.png") no-repeat scroll 1px -4px #777777 !important;
  }

  .listings-layout .columns.main .content,
  .listings-layout .columns.main .content .filterbar,
  .listings-layout .columns.main .content .listings .actions,
  .listings-layout .columns.main .content .listings .listing.even,
  .listings-layout .columns.main .content .listings .listing.odd {
    background: none !important;
  }
  .listings-layout .columns.main .content .filterbar .sorts li.asc,
  .listings-layout .columns.main .content .filterbar .sorts li.desc {
    background-color: #555 !important;
  }
  .listings-layout .columns.main .content .filterbar .sorts li.asc a,
  .listings-layout .columns.main .content .filterbar .sorts li.desc a {
    color: #000 !important;
  }
  .listings-layout .columns.main .content .listings .pagination span.current {
    color: #666 !important;
  }
  .listings-layout .columns.main .content .listings .listing .info h3 a,
  .listings-layout .columns.main .content .listings .listing .info p a {
    color: #bcbcbc !important;
  }

  #issues_next > .browser_header ul.main_nav li.selected a {
    background-color: #555 !important;
    border-top: 1px solid #777 !important;
    border-left: 1px solid #777 !important;
    border-right: 1px solid #777 !important;
    color: #000 !important;
  }
  #issues_next > .browser_header ul.actions li.selected,
  #issues_next #issues_list .main .issues .issue.closed {
    background: none !important;
  }

  #issues .display,
  .issue,
  .issue.open.read .summary,
  #issues .display .sortbar {
    background-color: transparent !important;
  }
  #issues .summary:hover {
    background-color: #444 !important;
  }
  #issues .keyboard-shortcuts {
    background-color: transparent !important;
  }
  .issue h3 a {
    color: #aaa !important;
  }
  #issues .display .admin {
    background: none !important;
    border: none !important;
  }
  #issues_next #issues_list .main .actions {
    background: none !important;
    border-bottom: 1px solid #555 !important;
  }
  #issues_next > .browser_header ul.actions li {
    border: none !important;
  }
  #issues_next .starting-comment .infobar {
    background-color: #555 !important;
  }
  .issue.closed.read .summary {
    background-color: transparent !important;
  }
  #issues .menu ul li.filter_selected {
    background: #555 !important;
  }
  #issues .labels {
    background: none !important;
  }
  #issues .labels .admin {
    background: #555 !important;
  }
  #issues .labels .list li {
    background-color: transparent !important;
  }
  #issues .labels .list li a {
    color: #aaa !important;
  }
  #issues .labels .chooser ul li a.action {
    background-color: #333 !important;
  }
  #issues .labels .chooser ul li a.action:hover {
    background: #555 !important;
  }
  #issues_next .labels .label a {
    background: #333 !important;
    color: #aaa !important;
  }
  #issues_next .labels .label .count {
    color: #aaa !important;
  }
  #issues_next .filterbar ul.sorts li.asc,
  #issues_next .filterbar ul.sorts li.desc {
    background-color: #aaa !important;;
  }
  .pane-selector .filterbar {
    background: none !important;
  }
  #new_issue, .edit_issue {
    background-color: #333 !important;
  }
  #issues .issue.selected .summary {
    background-color: #444 !important;
  }
  .issue .summary .meta {
    width: 37.6em !important;
  }
  .issue .handles {
    width: 3.6em !important;
  }
  #issues_next #issues_list .main .issues .issue .info p a {
    color: #4183c4 !important;
  }
  .attached-pull {
    background: #333 !important;
  }
  .attached-pull a strong {
    color: #777 !important;
  }

  .context-pane {
    background-color: #222 !important;
  }
  .context-pane .title {
    background: #333 !important;
    color: #aaa !important;
  }

  h3.commit-group-heading, .commit-group, .commit-group-item, .commit-group-item .gobutton,
  .full-commit, .full-commit .commit-meta,
  .full-commit .browse-button,
  .commit-tease, .commit-tease .commit-meta {
    background: none !important;
  }
  .commit-group-item .gobutton,
  .commit-group-item .authorship a,
  .full-commit .authorship a,
  .commit-tease .authorship a,
  .commit .commit-title a {
    color: #777 !important;
  }
  .commit-group-item .gobutton > .sha, .commit-group-item.selected .gobutton:hover > .sha {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAQCAYAAADJViUEAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sJCg8SKn6TOmEAAAILSURBVCjPlZO9a1NRGMZ/9+SmMTexmmoC0SC3InXo0EEEIVA66JJMBUH9FxyKi4tTdenfkElCh4JDQvbqmEEiqAVxaCslamtNmjRtUm7u+XDoTWn6QfEZX97f+5zznudYxhgGsizLBkaACGADAjCABPpA3xjTH/Tbx8AIEHUcx83n83OJRCIbDocnlFJtz/O+1Ov10vLy8qJlWaFgiLKMMQMwNj09/XRycnJBCDHKGer1eh8qlcrczs7OOuBZgXssn8+/cF13ngskpfyxtLT0qNPp1AUQTqfTE67rvjrZuNncRSk9VLNte3x2dvYNYAvAnpmZeR4sakh/Wm0+fl/H8/2hejwef5JMJlMhwMlmswtCiATA+u+//Gy02G532Nvv0fM8NpttRmMxopHwgBdjY2PfRHCUm4PqdnuPrWaLrWaLg8CxLyUraxtIpY7cHcdJ2YDWWvtCiBGA1NXLxKKHN9jt7HPg+ziRS0xNuNih0PFMeDaglFIrQogHALdvJI8aPq9uEFURpu7cGgIBut3uJwH0G41G8axnyaSuce/u+ClQa10vl8tVAchSqbSolPp6Er4+GuecsLzUWnvCHIb7oFarPdZa1y8Kie/7r4vF4juC4GOM0bVaba1ard6XUr49h/slpXxWKBTmA0Os478q2KLI5XLpTCbzELgihPC01quFQuH9yWmn4P/RP4fM42vJAl7tAAAAAElFTkSuQmCC") no-repeat scroll 100% 5px transparent !important;
  }
  .full-commit .sha-block > .sha,
  .commit-tease .sha-block > .sha {
    color: #777 !important;
  }
  .commit .commit-desc pre {
    color: #bbb !important;
  }
  #commit .commit_oneline {
    background: none !important;
  }
  #commit .commit_oneline .author a,
  #commit .commit_oneline .message a {
    color: #777 !important
  }
  #commit .commit_oneline .gravatar img,
  #forkqueue table td.author img {
    background-color: transparent !important;
  }
  #forkqueue table th,
  #forkqueue table tr td {
    background-color: transparent !important;
  }
  #forkqueue table td.message a {
    color: #aaa !important;
  }
  #forkqueue table tr.clean td.message a,
  #forkqueue table tr.unclean td.message a {
    color: #222 !important;
  }
  #forkqueue .clean,
  #forkqueue table tr.clean td,
  #forkqueue .unclean,
  #forkqueue table tr.unclean td {
    color: #222 !important;
  }
  #forkqueue table tr.clean td a,
  #forkqueue table tr.unclean td a {
    color: #2b5680 !important;
  }
  #forkqueue .clean,
  #forkqueue table tr.clean td {
    background: #76b576 !important;
  }
  #forkqueue .unclean,
  #forkqueue table tr.unclean td {
    background: #ca7d7d !important;
  }

  .options-group,
  .options-content {
    background: transparent !important;
  }
  .options-content h3 {
    background: #333 !important;
    border-bottom: 1px solid #555 !important;
    color: #aaa !important;
  }
  .options-group.dangerzone h3 {
    background: -moz-linear-gradient(center top , #F97171, #DF3E3E) repeat scroll 0 0 transparent !important;
    color: #222 !important;
  }
  .addon:hover {
    background: transparent !important;
  }
  .addon h4 {
    color: #aaa !important;
  }
  .add-pill-form {
    background: transparent !important;
  }

  .explore h2,
  .explore h2.trending-heading,
  .explore h2.featured-heading,
  .ranked-repositories p,
  .ranked-repositories > li {
    color: #777777 !important;
  }
  .ranked-repositories .meta a {
    background: #555555 !important;
    color: #222222 !important;
  }
  .explore h2 .feed {
    background-color: transparent !important;
  }
  .featured-callout {
    background: #555555 !important;
  }
  .podcast-player h3,
  .podcast-player p.description {
    color: #222222 !important;
  }

  #guides .guide .sidebar ul li {
    background-color: transparent !important;
  }

  dl.form dd input {
    color: #222222 !important;
  }

  .htabs {
    background: none !important;
  }
  ul.sidetabs li a.selected {
    background: #555 !important;
  }
  ul.sidetabs li a:hover {
    background: #ccc !important;
  }

  .lineoption p {
    color: #777777 !important;
  }

  dl.form dt,
  ul.fieldpills li,
  .page-notifications p.notification-settings {
    color: #cccccc !important;
  }
  .fieldgroup .fields,
  ul.fieldpills li,
  .page-notifications p.notification-settings {
    background: none !important;
  }
  .statgroup,
  .fieldgroup p.explain.planusage,
  .fieldgroup p.explain.planusage strong,
  .avatarexplain p strong,
  .usagebars dl dt.numbers,
  table.notifications th,
  .accountcols .main > p.overview {
    color: #777777 !important;
  }
  .avatarexplain img,
  ul.user_emails li img,
  .supportstaffer img.avatar {
    background-color: transparent !important;
  }

  .supportstaffer {
    background-color: transparent !important;
  }
  .form.discussion-form {
    background-color: transparent !important;
  }
  .form.discussion-form .fieldswrap,
  .form.discussion-form .fields {
    background-color: #333333 !important;
  }
  table.discussion-listing a:hover {
    color: #4183c4 !important;
  }
  table.thread-listing .odd td {
    background-color: #222222 !important;
  }
  table.thread-listing td.state-open,
  table.thread-listing td.state-resolved {
    color: #777777 !important;
  }
  table.thread-listing .date,
  table.thread-listing .byuser,
  table.thread-listing .byuser a {
    color: #777777 !important;
  }
  .discussion-stats strong {
    color: #777 !important;
  }

  .editbox, .editbox .body {
    background-color: transparent !important;
  }
  .editbox h1 {
    background-color: #333333 !important;
  }

  table.upgrades td,
  table.upgrades th {
    background: none !important;
  }
  table.upgrades tr:hover td {
    background-color: #6699cc !important;
  }
  table.upgrades tr.current td {
    background-color: #FDFFCE !important;
    color: #000000 !important;
  }

  button.classy, a.button.classy {
    -moz-border-radius: 3px 3px 3px 3px !important;
    background: #333333 !important;
    border: 1px solid #555555 !important;
    color: #777777 !important;
  }
  button.classy span, a.button.classy span {
    background: none !important;
  }
  button.classy:hover, a.button.classy:hover {
    background-color: #6699cc !important;
    color: #222222 !important;
  }

  a.action {
    color: #bb4b4b !important;
  }

  .ui-icon {
    background-color: transparent !important;
  }

  .add_file {
    background-color: transparent !important;
  }
  .add_file:hover {
    background-color: #4183c4 !important;
  }

  h3 {
    color: #777777 !important;
  }

  #plans .header {
    background-color: #777777 !important;
    color: #222222 !important;
  }

  .module,
  .module h2,
  .module > .inner {
    background: #333333 !important;
    color: #ccc !important;
  }
  .module h2.twitter {
    background: url("http://status.github.com/images/twitter_logo.png") no-repeat scroll 95% 0 transparent !important;
  }
  .module strong {
    color: #ccc !important;
  }

  #languages .popular {
    background-color: transparent !important;
  }
  #languages .popular a {
    color: #4183c4 !important;
  }
  #languages a.bar {
    color: #cccccc !important;
  }

  #code_search_instructions h2 {
    background-color: transparent !important;
  }
  #code_search_instructions p {
    color: #cccccc !important;
  }
  #code_search_instructions table.instruction tr td.inst {
    background: none !important;
    color: #777777 !important;
  }

  #statusbar p {
    color: #000 !important;
  }

  #header div.logo { /* for gist.github.com */
    margin-top: 10px !important;
  }
  #header .logo img,
  .site-logo img,
  img[src$="help.github.png"],
  img[src$="logo_gist.png"],
  #logo a {
    background-color: #333 !important;
    border: 1px solid #555 !important;
    -moz-border-radius: 5px !important;
    padding: 5px !important;
  }

  p.notification-settings {
    color: #555555 !important;
  }
}

@-moz-document domain("develop.github.com") {

  * {
    border-color: #555555 !important;
  }

  a {
    color: #4183c4 !important;
  }

  #welcome p {
    color: #cccccc !important;
  }

  #footer {
    background-color: transparent !important;
  }

  h2 {
    background-color: #777777 !important;
  }

  hr {
    background-color: #555555 !important;
  }

  pre {
    background-color: #444444 !important;
    color: #aaaaaa !important;
  }

  .title, .content h3 {
    background-color: transparent !important;
    border-bottom: 4px solid #555555 !important;
    color: #cccccc !important;
  }
}
