@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("mail.google.com") {
  /* body background while loading */
  body {
    background: #cfcfcf !important;
  }

  /* main body background */
  .cQ .cP > div {
    background: #cfcfcf !important;
  }

  /* read message rows */
  .yO {
    background: #cfcfcf !important;
  }

  /* unread message rows */
  .zE {
    background: #e0e0e0 !important;
  }

  /* checked message row */
  .x7 {
    background: #ffffcc !important;
  }

  /* label upper and lower borders */
  .as .at {
    background: transparent !important;
    border: none !important;
  }
  /* label left and right borders */
  .as .at .au {
    border: none !important;
  }

  /* left hand labels listing box */
  .t .pt, .pt, .t .pU, .pU {
    background: #cfcfcf !important;
  }

  /* left hand search box */
  .dF {
    background: #cfcfcf !important;
  }

  /*** Following are for reading email ***/

  /* main background when reading mail */
  .iY, .h7 > div, .h7 > div > div, .h7 > div > div > div {
    background: #cfcfcf !important;
  }
  .ii {
    font-family:Courier New,courier,monospace;
  }
  /* folded replies */
  .hx > div > div > div > div, .hx > div > div > div > div > div > div {
    background: #cfcfcf !important;
  }
  .Bk .G2 {
    background: #cfcfcf !important;
    -moz-border-left-colors: #bcbcbc !important;
    -moz-border-right-colors: #bcbcbc !important;
    border-width: 1px !important;
  }

  /* corner borders (main, folded replies) */
  .h7 > div b, .hx > div b {
    border: none !important;
  }

  /* upper left, bottom left, upper right, bottom right border corners */
  /*.g .p, .g .i, .g .q, .g .j {
    background: #cfcfcf !important;
  }
  .g .p {
    border-left: 1px solid #989898 !important;
    border-top: 1px solid #989898 !important;
  }
  .g .i {
    border-bottom: 1px solid #989898 !important;
    border-left: 1px solid #989898 !important;
  }
  .g .q {
    border-right: 1px solid #989898 !important;
    border-top: 1px solid #989898 !important;
  }
  .g .j {
    border-bottom: 1px solid #989898 !important;
    border-right: 1px solid #989898 !important;
  }*/

  /* upper and bottom middle border */
  /*.g .o {
    background: #cfcfcf !important;
    border-top: 1px solid #989898 !important;
  }
  .g .h {
    background: #cfcfcf !important;
    border-bottom: 1px solid #989898 !important;
  }*/

  /* left and right borders */
  /*.g .m {
    background: #cfcfcf !important;
    border-left: 1px solid #989898 !important;
  }
  .g .n {
    background: #cfcfcf !important;
    border-right: 1px solid #989898 !important;
  }
  .g .hx .n { /* need to pull the right border in 1px */
    /*margin-right: 1px !important;
  }*/

  /* reply section background */
  /*.gA, .hi {
    background: #cfcfcf !important;
  }
  textarea, .d9, .d4 {
    background: #fff !important;
  }*/

  /* reply section right border */
  .gB, .hh {
    background: #cfcfcf !important;
  }

  /* reply button upper right, lower left, and background */
  .hz, .hC, .h3 {
    background: transparent !important;
  }

  /* empty div for important / starred message lists */
  .qd {
    background: #cfcfcf !important;
  }

  /* quoted message */
  blockquote.gmail_quote {
    border-left: 1px solid #333333 !important;
  }

  /* hide ads when viewing a message */
  .Bs > tr > td:last-child {
    display: none !important;
  }

  /* keybindings help dialog */
  .cQ .cP > div .wc {
    background: #000 !important;
    color: #cfcfcf !important;
  }
  table.wd th,
  span.wh,
  .wi,
  .wj {
    color: #2A5DB0 !important;
  }
}
