/* couldn't get a disabled color working in the gtk theme, so using this */
input[type="checkbox"]:disabled,
input[type="radio"]:disabled{
  opacity: 0.5;
}

/* ftp view */
#UI_goUp .up,
table a.dir,
table a.file,
table a.symlink {
  color: #4784d0;
}

/* rss feed view */
#feedBody {
  background: #333 !important;
  border-color: #555 !important;
  color: #aaa !important;
}
#feedTitleText{
  border: none !important;
}
#feedContent a {
  color: #4784d0;
}

/* server not found, private browsing, etc. */
#aboutPageContainer, #errorPageContainer {
  background-color: #333 !important;
  border-color: #555 !important;
  color: #aaa !important;
}
#aboutPageList a, #errorPageContainer a {
  color: #4784d0;
}
#errorTitle h1 {
  border: none !important;
}
#errorShortDesc > p {
  border-color: #555 !important;
}
